@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(212, 175, 55);
    --secondary: rgb(207, 181, 59);
}

body {
    min-height: 200vh;
    font-family: 'Montserrat', sans-serif;
}


#inleiding {

}

#over {

}

#ervaring {

}

#waarden {

}

#contact {
}


/* MENU */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav {
    height: 60px;
    background-color: white;
    box-shadow: 0 0 8px black;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.nav .brand {
    flex: 1;
}

.nav .brand .logo {
    height: 80px;
    padding-top: 10px;
}

.nav .links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.nav .links .background {
    position: fixed;
    background-image: radial-gradient(var(--primary), var(--secondary));
    width: 50px;
    height: 50px;
    margin-left: -7.5px;
    border-radius: 50%;
    transition: all 0.5s;
    z-index: -1;
    transform: scale(0);
}

.nav .links .menu {
    display: none;
}

.nav .links .menu .line {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 2.5px;
    transition: all 0.5s;
}

.nav .links .menuLinks {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav .links .menuLinks > li {
    cursor: pointer;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--primary) 50%);
    background-size: 300%;
    transition: all 0.4s;
}

.nav .links .menuLinks > li:hover {
    background-position: right;
    color: white;
    padding: 8px 20px;
    margin: -8px -20px;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--secondary);
}

a {
    text-decoration: inherit;
    color: inherit;
}

.nav .links .menuContact {
    background-image: linear-gradient(120deg, var(--primary) 0%, var(--primary) 50%, transparent 50%);
    padding: 8px 12px;
    border: 2px solid var(--secondary);
    border-radius: 3px;
    background-size: 300%;
    color: white;
    box-shadow: 0 0 5px var(--secondary);
    font-size: 15px;
    transition: all 0.4s;
}

.nav .links .menuContact:hover {
    background-position: right;
    color: black;
    box-shadow: 0 0 6px var(--secondary);
}


@media (max-width: 800px) {
    .nav {
        padding: 0 5%;
    }
}

@media (max-width: 700px) {

    .nav .links {
        justify-content: space-between;
        width: 53%;
    }

    .nav .links .menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
    }

    .nav .links .menuLinks {
        flex-direction: column;
        text-align: center;
        position: absolute;
        height: 91.8vh;
        top: 60px;
        width: 100vw;
        right: 70%;
        font-size: 30px;
        color: white;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav .links .menuLinks > li {
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    }

    .nav .links .menuLinks > li:hover {
        background-position: right;
        color: black;
        margin: -8px;
        font-size: 32px;
        width: 40%;
    }
}

/* INLEIDING */
article {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

article h2 {
    margin-top: 10vh;
    text-align: center;
    font-weight: 600;
    font-size: 75px;
    margin-bottom: 0;
}

article .onderTitel {
    text-align: center;
}

.onderTitel {
    font-size: 35px;
    line-height: 45px;

    margin-bottom: 50px;
}

article .onderTitel::after { /* - na ondertitel*/
    content: "";
    display: block;
    position: absolute;
    margin-top: 20px;
    width: 75px;
    border-bottom: 3px solid;
    left: calc(50% - 38px);
}

article p {
    text-align: left;
    font-size: 20px;
}

.inleidingContainer {
    max-width: 1200px;
    margin: 40px auto;
}

.inleidingContainer .floating-image {
    max-width: 400px;
    display: block;
    height: auto;
    border-radius: 30%;
    border: 4px solid var(--primary);
}

.inleidingContainer .floating-image.right {
    float: right;
    margin-left: 35px;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    article h2 {
        font-size: 50px;
    }

    .onderTitel {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .inleidingContainer {
        width: 100%;
    }

    .inleidingContainer .floating-image {
        max-width: 300px;
        display: block;
        height: auto;
        border-radius: 30%;
        border: 4px solid var(--primary);
    }

    .inleidingContainer .floating-image.right {
        float: inherit;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}


/*LIST*/
.list-container {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-container .list {
    position: relative;
    width: 300px;
    height: 475px;
    background: whitesmoke;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 25px black;
    transition: 0.5s;
}

.list-container .list-wide {
    width: 500px;
    height: 500px;
}

.list-container:hover .list {
    transform: scale(0.9);
    opacity: 0.5;
}

.list-container .list:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}


.list-container .list .circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--primary);
    clip-path: circle(180px at center 0);
    text-align: center;
}

.list-container .list .circle-wide {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--primary);
    clip-path: circle(350px at center -200px);
    text-align: center;
}


.list-container .list .circle h2 {
    color: black;
    font-size: 2em;
    padding: 30px 0;
}

.list-container .list .circle-wide h2 {
    color: black;
    font-size: 2em;
    padding: 30px 0;
}

.list-container .list .list-content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    padding-left: 50px;
    text-align: left;
}

.list-container .list .list-content ul {
    list-style-type: circle;

}


/* MOVING IMAGE*/
.moveimg-container {
    max-width: 1200px;
    margin: 50px auto;
    background: whitesmoke;
    border-radius: 5%;
    font-size: 24px;
    padding: 25px;
}

.moveimg-container h2 {
    padding-top: 20px;

}

.moveimg-container p {
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.parallax {
    background: url("../media/luc_groot2.PNG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

@media only screen and (max-width: 1024px) {

    .parallax {
        display: none;
    }
}

/* FLASH CARDS*/
#waarden {
    padding-left: 130px;
    font-size: 36px;
    font-weight: 500;
    color: var(--primary);

}

.flashcard-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.flashcard-container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: whitesmoke;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.flashcard-container .card:hover {
    height: 500px;

}

.flashcard-container .card .imgBox {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.flashcard-container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.flashcard-container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.flashcard-container .card .imgBox img {
    max-width: 100%;
    border-radius: 4px;
}

/* FORM */
.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--primary);
}

.contact .content p {
    font-weight: 300;
    color: var(--primary);
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.contact-container .contactInfo .inleidingContainer {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-container .contactInfo .inleidingContainer .icon {
    min-width: 60px;
    height: 60px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contact-container .contactInfo .inleidingContainer .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contactInfo .inleidingContainer .text h3 {
    font-weight: 500;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: whitesmoke;
}

.contactForm h2 {
    font-size: 30px;
/ / color: var(--primary);
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid #3b4147;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #3b4147;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: var(--primary);
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: var(--primary);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-container .contactInfo {
        margin-bottom: 40px;
    }

    .contact-container .contactInfo,
    .contactForm {
        width: 100%;
    }
}

/* FOOTER */

.footer {
    background: #3b4147;
    color: whitesmoke;
    height: 125px;
    position: relative;
    width: 100%;
}

.footer .footer-content {
    height: 100px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
}

.footer .footer-content .about .logo {
    margin-top: -50px;
    height: 130px;
    margin-left: 150px;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    width: 100%;
}

@media (max-width: 800px) {
    .footer {
        display: none;
    }
}


/*RESPONSIVENESS*/
@media only screen and (max-width: 768px) {

    .inleiding {
        width: 100%;
    }

    .inleiding h2 {
        padding: 30px 30px 20px;
        font-size: 50px;
        line-height: 44px;
    }

    .inleiding p {
        padding: 0px 30px 20px;
        font-size: 16px;
        line-height: 24px;
    }
}

